.LineClass{
    transition: border-top 1.5s ease;
}

.LineClass::before{
    position: absolute;
    content: '';
    bottom: -9px;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom:10px solid transparent;
    border-left: 10px solid black;
}